<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <div id="app">

    <img 
      v-on:mouseover="toggleShowPrices" 
      v-on:mouseout="toggleShowPrices"
      v-bind:src="image" 
      alt="">
    <!-- Dar clases mediante ifs -->
    <h1 v-bind:class="changePercent > 0 ? 'green' : 'red'">
      {{title}}
      <!-- Solo se compara una vez
           y si no se cumplen desaparecen -->

      <span v-if="changePercent > 0">👍</span>
      <span v-else-if="changePercent < 0">👎</span>
      <span v-else>🤞</span>
      <span v-on:click="toggleShowPrices">
        {{showPrices ? '🙉' : '🙈' }}
      </span>
    </h1>



    <!-- Asignar clases mediante objetos de ifs 
    el aplicar clases desde class tambien esta perfecto-->
    <ul v-show="showPrices">
      <li 
        class="uppercase"
        v-for="(price, i) in pricesByDay" 
        v-bind:key="i" 
        v-bind:class="{ orange: price.value === currentPrice,red: price.value < currentPrice, green: price.value > currentPrice }">
        {{i}} - {{price.day}} - {{price.value}}
      </li>
    </ul>
  
    

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="app.js"></script>
</body>
</html>