body {
  background-color: #333;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.green {
  color: rgb(102, 223, 102);
}
.red {
  color: rgb(212, 40, 40);
}
.orange {
  color: orange;
}
.uppercase {
  text-transform: uppercase;
}